* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html,
body{
	background-color:#fff;
	color:orange;
	font-family:'Lato','Arial',sans-serif;
	font-size:20px;
	font-weight:300;
	text-rendering:optimizeLegibility;
	overflow-x:hidden;
}

.row
{
	max-width:1140px;
	margin:0 auto 0 auto;
    padding: 2px;
}

.logo{
	height:100px;
	width:auto;
	float:left;
	margin-top:20px;
}

header
{
	background-image:url(img/phone-img.jpeg);
	height:100vh;
	background-size: cover;
	background-position:center;
	background-attachment:fixed;
}

.hero-text
{
	position: absolute;
	width:1140px;
	top: 50%;
	left:50%;
	transform: translate(-20%,-50%);
}
.main-nav
{
	float:right;
	list-style:none;
	margin-top:55px;
    
}

.main-nav li
{
	display:inline;
	margin-left:30px;
}

.main-nav li a:link,
.main-nav li a:visited{
	color:#fff;
	padding:8px 0;
	text-decoration:none;
	text-transform:uppercase;
	font-size:90%;
	border-bottom:2px solid transparent;
	transition: border-bottom 0.2s;
}
h1{
	margin-top:0;
	margin-bottom:20px;
	color:#fff;
	font-size:240%;
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:1px;
	word-spacing:3px;
}

.btn:link,
.btn:visited {
	display: inline-block;
	padding:10px 30px;
	font-weight:300;
	text-decoration:none;
	border-radius:200px;
	color:#fff;
	transition:background-color 0.5s,border 0.2s, color 0.2s;
}

.btn:link,
.btn:visited {
	display: inline-block;
	padding:10px 30px;
	font-weight:300;
	text-decoration:none;
	border-radius:200px;
	color:#fff;
	transition:background-color 0.5s,border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited
{
	border:1px solid;
	background-color:#e67e22;
}
.btn-ghost:link,
.btn-ghost:visited
{
	border:1px solid;
}
.btn1:link,
.btn1:visited{
	border:1px solid;	
}

.btn:hover,
btn:active
{
	background-color:#cf6d17;
}
h2{
	font:black;
	font-weight:300;
	text-transform: uppercase;
	letter-spacing:1px;
	font-size:180%;
	word-spacing:2px;
	text-align:center;
	margin-bottom:30px;
    margin-top: 30px;
}

.main-nav li a:hover,
.main-nav li a:visited{
	border-bottom:2px solid orange;	
}

h2:after{
	display:block;
	height:2px;
	background-color:#ffa500;
	content:" ";
	width:100px;
	margin:0 auto;
	margin-top:30px;

}
.long1{
	line-height:145%;
	width:70%;
	margin-left:15%;
    margin-bottom:5%;
}

.box
{
	padding:2%;
}

.box p{
	font-size:90%;
	line-height:145%;
	margin-bottom:10px;
}

h3{
	font-weight:300;
	text-transform: uppercase;
	letter-spacing:1px;
	font-size:110%;
	margin-bottom:15px;

}
.describe-table {
    border-collapse: collapse;
    margin: 25px 0;
	color: black;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.describe-table thead tr {
    background-color: #ffa500;
    color: #ffffff;
    text-align: left;
}

.describe-table th,
.describe-table td {
    padding: 12px 15px;
}

.describe-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.describe-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.describe-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.describe-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}



.contact-form{
	width:60%;
	margin:0 auto;
}

section{
	padding: 60px 0;
	color:black;
}
.input[type=text],
.input[type=email],
select,textarea{
	width:100%;
	padding:7px;
	border-radius:3px;
	border: 1px solid #ccc;
}


textarea{
	height:100px;
}

input[type=checkbox]{
	margin:10px 5px 10px 0;
}

*focus{
	outline:none;
}






footer{
	background-color:#333;
	padding:30px;
}

.footer-nav{
	list-style:none;
	float:left
}
.social-link{
	list-style:none;
	float:right;
}

.footer-nav li,
.social-link li{
	display:inline;
	margin-right:20px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-link li a:link
.social-link li a:visited{
	text-decoration:none;
	border:0;
	color:#888;
	transition:color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
	color:#ddd;
}

footer p {
	text-align:center;
	font-size:90%;
	margin-top:15px;
}